@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

html {
  font-size: 112.5%;
  /* color: rgb(43, 48, 58); */
  color: white;
}

body {
  font-family: "Lato", sans-serif;
}

body {
  /* background: -webkit-linear-gradient(
    top,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 31%,
    rgba(33, 180, 226, 1) 69%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 31%,
    rgba(33, 180, 226, 1) 69%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 31%,
    rgba(33, 180, 226, 1) 69%,
    rgba(183, 222, 237, 1) 100%
  ); */
  background: #044389;
}

body {
  position: relative;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 0.625rem;
  text: white;
  letter-spacing: 2px;
}

main {
  display: flex;
}

.input {
  width: 31rem;
  float: left;
  margin-left: 10px;
}

.search {
  float: left;
}

.search {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 32rem;
  margin-top: 30px;
}

fieldset > * {
  margin-bottom: 0.625rem;
}

/* fieldset:nth-of-type(3) > * {
    width: 42%;
} */

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainter > * {
  width: 17rem;
}

fieldset > label {
  display: block;
  width: 100%;
}

form > fieldset > label {
  font-size: 0.9rem;
}

fieldset > input,
fieldset > span {
  display: inline-block;
}

fieldset > span {
  width: 25%;
  vertical-align: bottom;
  text-align: center;
}

fieldset > input {
  border: 1px solid #e1e1e1;
  padding: 0.625rem;
  font-size: 1rem;
  outline: none;
  width: 50%;
  margin-right: 0.625rem;
}

/* fieldset > label[for="age"],  */
input#number,
input#age {
  width: 20%;
}

/* input:invalid {
  border-color: rgba(214, 73, 51, 1); 
  background-color: rgba(214, 73, 51, 0.3);
} */

input:focus:invalid {
  outline: none;
}

fieldset > button {
  width: 50%;
  font-size: 1rem;
  padding: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #FFAD05;
  color: black;
}

.error {
  font-size: 80%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 5px;
  overflow: hidden;
}

.check {
  text-align: left;
  font-size: larger;
  color: #fcff4b;
}

.error#age-error {
  width: 47%;
}

.search {
  flex-basis: 400px;
  flex-shrink: 0;
  height: 200px;
  position: relative;
}

#searchResults {
  position: absolute;
  top: 120%;
  width: max-content;
  color: white;
  cursor: pointer;
}

#searchResults li {
padding-bottom: 10px;
line-height: 1.2rem;
border-bottom: 3px solid;
border-color: #FCFF4B;
}

.search input {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}

.search h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.search button {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: -10px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

input[type="radio"] {
  width: unset;
}

div.radio {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div.radio > fieldset {
  position: absolute;
  display: inline-block;
}

div.radio > fieldset:first-child {
  left: 0;
}

div.radio > fieldset:nth-child(2) {
  right: 0;
}

div.radio > fieldset:first-child {
  margin-right: 35px;
}

.addressExists {
  margin-bottom: 3rem;
  background: #fcff4b;
  color: black;
}

.addressExists > p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#detailsForm {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#map {
  height: 400px;
  width: 100%;
}

/* The Modal (background) */
.modal {  
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: visible; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {  
 /* margin: 15% auto;  15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  color: rgb(86, 86, 86);
  background-color: #fefefe;
  line-height: 1.2;
  flex-grow: 0;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

